body{
	padding: 50px 150px 50px 150px;

}
header{
	background-color: #3090C7;
	text-align: center;

}
section{
	background-color: #E5E4E2;
	text-align: left; 
}
footer{
	background-color: #3090C7;
}
.heading{
	color: black;
	font-size: 16px;

}
